
main {
    border: 1px solid white;
    background-color: white;
}

.support-page-intro-container {
    margin-top: 3rem;
}


.support-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.support-h1-intro, .support-p-intro {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.support-p-intro {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.apple-product-support-article {
    padding: 1rem;
    max-width: 670px;
}

.apple-product-support-article h2 ~ p {
    margin-top: 0.400rem;
}

.support-title {
    font-size: 1rem;
}

.support-description {
    font-size: 0.875rem;
    padding: 0.500rem 1rem;
}

.icons-description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5rem 0;
}

.icon-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bx-medal, .bxs-user-check,  .bx-bell {
    font-size: 2.8rem;
    color: rgb(177, 177, 177);
} 

.icon-container h3 {
    font-size: 1rem;
}

.icon-container h4 {
    font-size: 0.875rem;
}


@media (min-width: 768px) {
    .support-h1-intro, .support-p-intro {
        
        font-size: 1.7rem;
    }
    
    .support-p-intro {
        
        font-size: 1.5rem;
    }

    .support-title {
        font-size: 1.2rem;
    }
    
    .support-description {
        font-size: 1rem;
    }

}




@media (min-width: 1000px) {
    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    .icon-container {
        width: 33%;
        text-align: center;
    }
}