.bxs-phone, .bxl-whatsapp, .bxl-instagram, .bxs-navigation {
    font-size: 1.5rem;
    color: rgb(177, 177, 177);
}

@media (min-width: 1000px) {
    main {
        max-width: 1080px;
        margin: 0 auto;
    }

}