
.support-main {
    border: 1px solid white;
    background-color: white;
}

.support-page-intro-container {
    margin-top: 3rem;
}

.support-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.support-h1-intro, .support-p-intro {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.support-info-container {
    padding: 1rem;
    max-width: 670px;
}

.support-info-subcontainer {
    margin: 2rem 0;
    padding: 1rem;
}

.support-info-subcontainer:first-child {
    margin: 0;
}

.support-title {
    font-size: 1.2rem;
    margin-bottom: 0.500rem;
}

.support-info-subtitle {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.500rem;
}

.support-intro-description, .support-disclaimer {
    font-size: 0.875rem
}

.support-disclaimer {
    margin-left: 1rem;
}

.support-li {
    margin-left: 1rem;
    margin-top: 0.800rem;
    font-size: 0.875rem;
}

.icons-description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5rem 0;
}

.icon-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bx-medal, .bxs-user-check,  .bx-bell {
    font-size: 2.3rem;
    color: rgb(177, 177, 177);
} 

.icon-container h3, p {
    font-size: 0.875rem;
}




@media (min-width: 768px) {
    .support-h1-intro, .support-p-intro {
        font-size: 1.5rem;
    }
    
    .support-title {
        font-size: 1.5rem;
    }

    .support-info-subtitle {
        font-size: 1rem;
    }
    
    .support-intro-description, .support-disclaimer {
        font-size: 1rem
    }

    .support-li {
        font-size: 1rem;
    }

    .bx-medal, .bxs-user-check,  .bx-bell {
        font-size: 2.7rem;
    }    
    

}




@media (min-width: 1000px) {
    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    .icon-container {
        width: 33%;
        text-align: center;
    }


    .icon-container h3, p {
        font-size: 1rem;
    }
    
    

}