.desktop-admin-username {
    display: none;
}


@media(min-width: 1000px) {
    
    .desktop-admin-username {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        font-size: 0.800rem;
        top:0;
        right: 50%;
        transform: translateX(50%);
        cursor: pointer;
        width: 25rem;
        height: auto;
        padding: 0.500rem 0;
        z-index: 150;
    }

    .desktop-admin-welcome-container {
        text-align: center;
        margin-bottom: 1rem;
    }

    .desktop-admin-welcome-container p {
        color: white;
    }
    
    .desktop-admin-welcome-container span {
        color: white;
        font-weight: 900;
        transition: color 150ms;
    }
    
    .desktop-admin-welcome-container:hover span {
        color: #F47658;
    }
    
    
    .desktop-admin-functions-container ul {
        background-color: black;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .desktop-admin-functions-container a {
        color: white;
    }

    .admin-functions-anchor {
        color: white;
        transition: color 150ms;
    }

    .admin-functions-anchor:hover {
        color: #F47658
    }

}