* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    background-color: white;
}

.slider-container {
    height: 250px;
}

.second-slider-container {
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
}

.slider-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 500ms;
}

.prev-slide {
    transform: translateX(-100%);
    z-index: 5;
}

.active {
    transform: translateX(0);
    z-index: 10;
}

.next-slide {
    transform: translateX(100%);
    z-index: 1;
    
}

.dots-container {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.200rem;
}

.home-slider-dot {
    width: 10px;
    height: 10px;
    border: 1px solid black;

    margin: 0 0.400rem;
    cursor: pointer;
    border-radius: 50%;
}

.dot-active {
    background-color: black;
}

.slider-img-container img {
    width: 100%;
    height: 100%;
}

.home-grid-container {
    height: auto;
    margin: 2rem 0;
}

.home-copy-row-container {
    margin: 0 auto;
}

.home-copy-container {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid rgb(166, 166, 166);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-copy-img-container {
    height: 250px;
    position: relative;
}

.home-copy-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    position: absolute;
  
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: inset 0px 0px 50px rgb(68, 68, 68);
    transition: box-shadow 250ms;
}

.shadow:hover {
    box-shadow: none;
}

.copy-title {
    font-size: 1rem;
}

.home-copy-info-container {
    padding: 1rem;
}

.home-copy-info-container * {
    margin: 1rem 0;
}

.copy-desc {
    font-size: 0.875rem;
}

.home-first-banner-container {
    margin: 2rem 0;
}

.home-first-banner-container img {
    width: 100%;
    height: 110px;
}

.dark {
    background-color: black;
    color: white;
}

.home-second-banner-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-copy-btn-container {
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}

.see-more-info-btn {
    color: #F47658;
    font-weight: 700;
    font-size: 1rem;
}

.home-copy-anchor {
    font-size: 1rem;
    color: #F47658 !important
}

@media (min-width: 468px) {
    .slider-container {
        height: 300px;
    }
}


@media (min-width: 576px) {
    .slider-container {
        height: 400px;
    }

    .second-slider-container {
        height: 400px;
    }


}


@media (min-width: 1000px) {
    .slider-container {
        height: 500px;
    }

    .second-slider-container {
        height: 500px;
    }

    main {
        max-width: 1080px;
        margin: 0 auto;

        border-bottom: 0;
    }

    .home-grid-container {
        margin: 3.5rem 0;
    }

    .home-copy-row-container {
        display: flex;
        flex-wrap: wrap;
    }

    .home-copy-container {
        width: 44%;
        margin: 1rem auto;
        max-width: 480px;
        transition: transform 250ms;
    }


    .copy-title {
        font-size: 1.2rem;
    }


    .copy-desc {
        font-size: 1rem;
    }

    .home-first-banner-container img {
        height: 130px;
    }

}