<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

        <link rel="stylesheet" href="/css/appleDevicesSupport.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main>
            <div class="support-page-intro-container">
                <h1 class="support-h1-intro">Soporte para equipos apple</h1>
                <p class="support-p-intro">Servicio técnico para iPhone, iPad, iMac, MacBook, Mac mini</p>
            </div>
            <div class="support-img-container">
                <img src="/images/appledevices.jpg" alt="">
            </div>
            <section>
                <article class="apple-product-support-article">
                    <h2 class="support-title">Soporte para iPhones</h2>
                    <p class="support-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2 class="support-title">Soporte para iPads</h2>
                    <p class="support-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2 class="support-title">Soporte para Macbooks</h2>
                    <p class="support-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2 class="support-title">Soporte para iMacs</h2>
                    <p class="support-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
            </section>
            <section class="icons-description-container">
                <div class="icon-container">
                    <i class='bx bx-medal'></i>
                    <h3>Experiencia</h3>
                    <p>25 años en el rubro</p>
                </div>
                </div>
                <div class="icon-container">
                    <i class='bx bxs-user-check'></i>
                    <h3>Confianza</h3>
                    <p>Reparaciones con expertos</p>
                </div>
                <div class="icon-container">
                    <i class='bx bx-bell'></i>
                    <h3>Garantía</h3>
                    <p>En todas nuestras reparaciones</p>
                </div>
            </section>
        </main>

        <%- include ('partials/floatsocialmediabtn') %>

        <%- include ('partials/footer') %>
</body>

</html>