<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

        <link rel="stylesheet" href="/css/appleDevicesSupport.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main>
            <section class="support-page-intro-container">
                <h1 class="support-h1-intro">Soporte para equipos apple</h1>
                <p class="support-p-intro">Servicio técnico para iPhone, iPad, iMac, MacBook, Mac mini</p>
            </section>
            <div class="support-img-container">
                <img src="/images/appledevices.jpg" alt="">
            </div>
            <section>
                <article class="apple-product-support-article">
                    <h2>Soporte para iPhones</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2>Soporte para iPads</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2>Soporte para Macbooks</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
                <article class="apple-product-support-article">
                    <h2>Soporte para iMacs</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi, qui dignissimos quam
                        est
                        natus aliquid esse laborum unde alias soluta assumenda, similique sit obcaecati officiis
                        veritatis!
                        Officia, illum ex.</p>
                </article>
            </section>
        </main>

        <%- include ('partials/floatsocialmediabtn') %>

            <%- include ('partials/footer') %>
</body>

</html>