<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

    <link rel="stylesheet" href="/css/contactUs.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main>
            <div class="contact-us-info-container">
                <div class="intro-container">
                    <h2>Contactenos</h2>
                    <p>Para consultas, pedidos o asesoramiento podes comunicarte por los siguientes canales</p>
                </div>

                <div class="contact-us-more-info-container">
                    <p>
                        Somos una empresa que lleva 33 años ofreciendo servicio de calidad. Nuestra trayectoria
                        se construye a la confianza que nos dan aquellos que día a día nos eligen
                    </p>
                </div>   
                
                <div class="contact-us-icons-wrapper">
                    <div class="icon-container">
                        <i class='bx bxs-phone'></i>
                        <p>11-6028-3333</p>
                    </div>
                    <div class="icon-container">
                        <i class='bx bxl-whatsapp' ></i>
                        <p>4254-1035</p>
                        
                        <p>/ 4253-9134</p>
                    </div>
                    <div class="icon-container">
                        <i class='bx bxl-instagram'></i>
                        <p>quilmac_center</p>
                    </div>    
                    <div class="icon-container">
                        <i class='bx bxs-been-here'></i>
                        <p>Hipolito Yrigoyen 312 - Quilmes, Bs As</p>
                    </div>  
                    <div class="icon-container">
                        <i class='bx bx-time-five'></i>
                        <p>Lunes a Viernes, 10 a 13 y 14 a 18.30</p>
                    </div>               
                </div>
            </div>
            
        </main>

        <%- include ('partials/floatsocialmediabtn') %>

        <%- include ('partials/footer') %>
</body>

</html>