<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

    <link rel="stylesheet" href="/css/contactUs.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main>
           
        </main>

        <%- include ('partials/floatsocialmediabtn') %>

        <%- include ('partials/footer') %>
</body>

</html>