<!DOCTYPE html>
<html lang="en">

<head>
   <%- include ('partials/head') %>

      <link rel="stylesheet" href="/css/home.css">

<body>

   <%- include ('partials/header') %>

      <main>

         <div class="slider-container">
            <div class="second-slider-container">

               <div class="slider">

                  <div class="slider-img-container active">
                     <img src="/images/slide-1.jpg" alt="">
                  </div>

                  <div class="slider-img-container">
                     <img src="/images/slide-2.jpg" alt="">
                  </div>

                  <div class="slider-img-container">
                     <img src="/images/slide-3.jpg" alt="">
                  </div>


               </div>


            </div>


         </div>

         <div class="dots-container">
         </div>



         <div class="home-grid-container">

            <div class="home-copy-row-container">
               <div class="home-copy-container dark">
                  <div class="home-copy-img-container">
                     <img src="/images/iphone12repair.jpg" alt="">
                  </div>
                  <div class="home-copy-info-container dark">
                     <h2 class="copy-title">Servicio técnico iPhones</h2>
                     <p class="copy-desc">Servicio técnico para todos los modelos</p>
                  </div>
                  <div class="home-copy-btn-container">

                     <button class="see-more-info-btn"><a class="home-copy-anchor" href="/equipos-apple-soporte">Más
                           información</a></button>
                  </div>

               </div>

               <div class="home-copy-container">
                  <div class="home-copy-img-container">
                     <img src="/images/iphone14pro.jpg" alt="">
                  </div>
                  <div class="home-copy-info-container">
                     <h2 class="copy-title">Venta de iPhones</h2>
                     <p class="copy-desc">Garantía oficial de Apple</p>
                  </div>
                  <div class="home-copy-btn-container">

                     <button class="see-more-info-btn"><a class="home-copy-anchor" href="/productos/categoria/1">Más
                           información</a></button>
                  </div>
               </div>

            </div>

            <div class="home-first-banner-container">
               <img src="/images/banner-ST-home.jpg" alt="">
            </div>

            <div class="home-copy-row-container">

               <div class="home-copy-container">
                  <div class="home-copy-img-container">
                     <img src="/images/macbookrepair.jpg" alt="">
                  </div>
                  <div class="home-copy-info-container">
                     <h2 class="copy-title">Servicio técnico Macbooks</h2>
                     <p class="copy-desc">Con garantía</p>
                  </div>
                  <div class="home-copy-btn-container">

                     <button class="see-more-info-btn"><a class="home-copy-anchor" href="/equipos-apple-soporte">Más
                           información</a></button>
                  </div>
               </div>



               <div class="home-copy-container dark">
                  <div class="home-copy-img-container">
                     <img src="/images/notebookslogo.jpg" alt="">
                  </div>
                  <div class="home-copy-info-container">
                     <h2 class="copy-title">Servicio técnico Notebooks y PC</h2>
                     <p class="copy-desc">Con garantía</p>
                  </div>
                  <div class="home-copy-btn-container">

                     <button class="see-more-info-btn"><a class="home-copy-anchor" href="/equipos-apple-soporte">Más
                           información</a></button>
                  </div>
               </div>
            </div>




         </div>

         <div class="home-second-banner-container">
            <img src="/images/airpodsprobanner.png" alt="">
         </div>


      </main>


      <script src="/scripts/homeCarousel.js"></script>
      <%- include ('partials/floatsocialmediabtn') %>

         <%- include ('partials/footer') %>






</body>

</html>