<!DOCTYPE html>
<html lang="en">

<head>
   <%- include ('partials/head') %>

   <link rel="stylesheet" href="/css/home.css">

<body>

   <%- include ('partials/header') %>

      <main>

         <div class="slider-container">

            <div class="slider">

               <div class="slider-img-container active">
                  <img src="/images/carouselitem1.jpg" alt="">
               </div>

               <div class="slider-img-container">
                  <img src="/images/carouselitem2.jpg" alt="">
               </div>

               <div class="slider-img-container">
                  <img src="/images/carouselitem3.jpg" alt="">
               </div>

               <div class="slider-img-container">
                  <img src="/images/carouselitem4.jpg" alt="">
               </div>
            </div>

         </div>

         <div class="dots-container">
         </div>

         <div class="repair-grid-container">

            <div class="repair-copy">

            </div>

            <div class="repair-copy">

            </div>

            <div class="repair-copy">

            </div>

            <div class="repair-copy">

            </div>


         </div>


      </main>


      <script src="/scripts/homeCarousel.js"></script>
      <%- include ('partials/floatsocialmediabtn') %>

      <%- include ('partials/footer') %>

            
      
          
            
   
</body>

</html>