<!DOCTYPE html>
<html lang="en">

<head>
   <%- include ('partials/head') %>

      <link rel="stylesheet" href="/css/home.css">

<body>

   <%- include ('partials/header') %>

      <main>

         <div class="slider-container">
            <div class="second-slider-container">

               <div class="slider">

                  <div class="slider-img-container active">
                     <img src="/images/slide-1.jpg" alt="">
                  </div>

                  <div class="slider-img-container">
                     <img src="/images/slide-2.jpg" alt="">
                  </div>

                  <div class="slider-img-container">
                     <img src="/images/slide-1.jpg" alt="">
                  </div>

                  <div class="slider-img-container">
                     <img src="/images/slide-2.jpg" alt="">
                  </div>
               </div>

         
            </div>
            

         </div>

         <div class="dots-container">
         </div>



         <div class="repair-grid-container">

            <div class="repair-copy">
               <h3>Reparación titulo</h3>
               <p>Reparación descripción si necesario</p>
            </div>

            <div class="repair-copy">
               <h3>Venta título </h3>
               <p>Venta descripción si necesario</p>
            </div>

            <div class="repair-copy">
               <h3>Reparación titulo</h3>
               <p>Reparación descripción si necesario</p>
            </div>

            <div class="repair-copy">
               <h3>Venta título </h3>
               <p>Venta descripción si necesario</p>
            </div>

            <div class="repair-copy">
               <h3>Reparación titulo</h3>
               <p>Reparación descripción si necesario</p>
            </div>

            <div class="repair-copy">
               <h3>Venta título </h3>
               <p>Venta descripción si necesario</p>
            </div>


         </div>

         <div class="home-second-banner-container">
            <img src="/images/airpodsprobanner.png" alt="">
         </div>


      </main>


      <script src="/scripts/homeCarousel.js"></script>
      <%- include ('partials/floatsocialmediabtn') %>

         <%- include ('partials/footer') %>






</body>

</html>