<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

        <link rel="stylesheet" href="/css/devicesSupport.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main class="support-main">

            <div class="support-page-intro-container">
                <h1 class="support-h1-intro">SERVICIO TÉCNICO IPHONES/IPADS</h1>
                <p class="support-p-intro">Servicio técnico para iPhones e iPads detallados a continuación</p>
            </div>
            <div class="support-img-container">
                <img src="/images/appledevices.jpg" alt="">
            </div>

            <div class="support-info-container">
                <div class="support-info-subcontainer">
                    <h2 class="support-title">Soporte para iPhones</h2>
                    <p class="support-intro-description">
                        Realizamos reparaciones simples como
                        cambio de pantallas, batería, docks de carga,
                        diferentes flex, como así también reparaciones
                        complejas como arreglos de placa lógica (logic board), y contaminación de
                        equipos con líquido. Solucionamos problemas como ic de audio, ic de carga,
                        problemas de cortos en placa ocasionados por mojaduras y otros..</p>
                </div>
                <div class="support-info-subcontainer">
                    <h3 class="support-info-subtitle">Modelos que reparamos</h3>
                    <ul>
                        <li class="support-li">iPhone 14 PRO MAX - iPhone 14 PRO - iPhone 14 </li>
                        <li class="support-li">iPhone 13 PRO MAX - iPhone 13 PRO - iPhone 13 - iPhone 13
                            mini</li>
                        <li class="support-li">iPhone 12 PRO MAX - iPhone 12 PRO - iPhone 12 - iPhone 12
                            mini</li>
                        <li class="support-li">iPhone 11 PRO MAX - iPhone 11 PRO - iPhone 11 - iPhone SE
                            3ra. Gen.</li>
                        <li class="support-li">iPhone XS MAX - XS - XR</li>
                        <li class="support-li">iPhone X - iPhone 8 - iPhone 8 Plus</li>
                        <li class="support-li">iPhone 7 Plus - iPhone 7 - iPhone SE 2da. Gen.</li>
                        <li class="support-li">iPhone 6s Plus - iPhone 6s</li>
                        <li class="support-li">iPhone 6 Plus - iPhone 6</li>
                    </ul>
                </div>
                <div class="support-info-subcontainer">
                    <h3 class="support-info-subtitle">Problemas más frecuentes:</h3>
                    <ul>
                        <li class="support-li">Tu iPhone se mojó, no enciende, funciona erraticamente</li>
                        <li class="support-li">Tu iPhone X tiene problemas de encendido, no reconoce face id, etc..
                        </li>
                        <li class="support-li">Tu iPhone 7 / 7 Plus no tiene sonido.</li>
                        <li class="support-li">Tu iPhone 6 / 6 Plus no enciende, tiene problemas de carga, problemas
                            de
                            video que no se solucionaron con el cambio de pantalla.</li>
                    </ul>
                </div>

                <p class="support-disclaimer">Estos son los problemas mas comunes, pero tambien hay otros mas complejos o que no presentan un
                    síntoma tan claro </p>
            </div>


            <div class="icons-description-container">
                <div class="icon-container">
                    <i class='bx bx-medal'></i>
                    <h3>Experiencia</h3>
                    <p>25 años en el rubro</p>
                </div>
                <div class="icon-container">
                    <i class='bx bxs-user-check'></i>
                    <h3>Confianza</h3>
                    <p>Reparaciones con expertos</p>
                </div>
                <div class="icon-container">
                    <i class='bx bx-bell'></i>
                    <h3>Garantía</h3>
                    <p>En todas nuestras reparaciones</p>
                </div>
            </div>

            <div class="support-info-container">
                <div class="support-info-subcontainer">
                    <h2 class="support-title">Soporte para iPads</h2>
                    <p class="support-intro-description">
                        Reparamos todos los modelos de iPad</p>
                </div>
                <div class="support-info-subcontainer">
                    <h3 class="support-info-subtitle">Modelos que reparamos</h3>
                    <ul>
                        <li class="support-li">iPad de 4ta, 5ta, 6ta, 7ma, 8va y 9na generación </li>
                 
                        <li class="support-li">iPad Air 1, 2, 3, 4, 5</li>
                        <li class="support-li">iPad Pro de 11 y de 12.9 pulgadas</li>
                        
                    </ul>
                </div>
                <div class="support-info-subcontainer">
                    <h3 class="support-info-subtitle">Problemas más frecuentes:</h3>
                    <ul>
                        <li class="support-li">Vidrio roto</li>
                        <li class="support-li">No ves imágen
                        </li>
                        <li class="support-li">No carga</li>
                        <li class="support-li">Se mojó y no enciende</li>
                    </ul>
                </div>
            </div>

           
                
         


        </main>

        <%- include ('partials/floatsocialmediabtn') %>

            <%- include ('partials/footer') %>
</body>

</html>