<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

        <link rel="stylesheet" href="/css/devicesSupport.css">
</head>

<body>

    <%- include ('partials/header') %>

    <main class="support-main">

        <div class="support-page-intro-container">
            <h1 class="support-h1-intro">SERVICIO TÉCNICO MACBOOKS/IMACS</h1>
            <p class="support-p-intro">Servicio técnico para Macbooks e iMacs detallados a continuación</p>
        </div>
        <div class="support-img-container">
            <img src="/images/appledevices.jpg" alt="">
        </div>

        <div class="support-info-container">
            <div class="support-info-subcontainer">
                <h2 class="support-title">Soporte para Macbooks</h2>
                <p class="support-intro-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Rerum exercitationem repellendus ab accusantium, optio fugit
                     necessitatibus assumenda, tempora quibusdam iusto voluptatibus deserunt? Laborum inventore minus nostrum facilis atque repellendus magni.</p>
            </div>
            <div class="support-info-subcontainer">
                <h3 class="support-info-subtitle">Modelos que reparamos</h3>
                <ul>
                    <li class="support-li">Macbook Pro</li>
                    <li class="support-li">Macbook Air</li>
                </ul>
            </div>
            <div class="support-info-subcontainer">
                <h3 class="support-info-subtitle">Problemas más frecuentes:</h3>
                <ul>
                    <li class="support-li">Tu Macbook se mojó, no enciende, funciona erraticamente</li>
                    <li class="support-li">Tu Macbook se golpeó y tiene la pantalla rota
                    </li>
                    <li class="support-li">No funciona el teclado</li>
                    <li class="support-li">Tu sistema operativo quedó obsoleto</li>
                    <li class="support-li">Tu Macbook tiene un par de años y notás que funciona lenta.</li>
                </ul>
            </div>

            <p class="support-disclaimer">Estos son los problemas mas comunes, pero tambien hay otros mas complejos o que no presentan un
                síntoma tan claro </p>
        </div>


        <div class="icons-description-container">
            <div class="icon-container">
                <i class='bx bx-medal'></i>
                <h3>Experiencia</h3>
                <p>25 años en el rubro</p>
            </div>
            <div class="icon-container">
                <i class='bx bxs-user-check'></i>
                <h3>Confianza</h3>
                <p>Reparaciones con expertos</p>
            </div>
            <div class="icon-container">
                <i class='bx bx-bell'></i>
                <h3>Garantía</h3>
                <p>En todas nuestras reparaciones</p>
            </div>
        </div>

        <div class="support-info-container">
            <div class="support-info-subcontainer">
                <h2 class="support-title">Soporte para iMacs</h2>
                <p class="support-intro-description">
                    Reparamos todos los modelos de iPad</p>
            </div>
            <div class="support-info-subcontainer">
                <h3 class="support-info-subtitle">Modelos que reparamos</h3>
                <ul>
                    <li class="support-li">iMac 24 pulgadas</li>
             
                    <li class="support-li">iMac 22 pulgadas</li>
                    <li class="support-li">iMac 21 pulgadas</li>
                    
                </ul>
            </div>
            <div class="support-info-subcontainer">
                <h3 class="support-info-subtitle">Problemas más frecuentes:</h3>
                <ul>
                    <li class="support-li">Lorem ipsum</li>
                    <li class="support-li">Lorem ipsum
                    </li>
                    <li class="support-li">Lorem ipsum</li>
                    <li class="support-li">Lorem ipsum</li>
                </ul>
            </div>
        </div>

       
            
     


    </main>

        <%- include ('partials/floatsocialmediabtn') %>

        <%- include ('partials/footer') %>
</body>

</html>