<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('partials/head') %>
    
        <link rel="stylesheet" href="/css/otherDevicesSupport.css">
    </head>
    <%- include ('partials/header') %>
    <main>

        <div class="intro-title-container">
            <h1>Soporte Notebooks</h1>
        </div>
       

        <div class="main-banner-container">
            <img src="/images/banner_notebooks.jpg" alt="">
        </div>

        <section class="icons-description-container">
            <div class="icon-container">
                <i class='bx bx-medal'></i>
                <h3>Experiencia</h3>
                <p>25 años en el rubro</p>
            </div>
            </div>
            <div class="icon-container">
                <i class='bx bxs-user-check'></i>
                <h3>Confianza</h3>
                <p>Reparaciones con expertos</p>
            </div>
            <div class="icon-container">
                <i class='bx bx-bell'></i>
                <h3>Garantía</h3>
                <p>En todas nuestras reparaciones</p>
            </div>
        </section>
    </main>

    <%- include ('partials/floatsocialmediabtn') %>

    <%- include ('partials/footer') %>


<body>
    
</body>
</html>