<!--DESKTOP ADMIN DROPDOWN-->

<% if(locals.isLogged) { %>
     <div class="desktop-admin-username">
          <div class="desktop-admin-welcome-container">
               <p>Bienvenido de nuevo, <span class="admin-span-dropdown">
                         <%= locals.adminLogged %>
                    </span></p>
          </div>
          <div class="desktop-admin-functions-container">
               <ul type="none">
                    <li ><a class="admin-functions-anchor" href="products/device/create">CREAR PRODUCTO</a></li>
                    <li ><a class="admin-functions-anchor" href="admin/logout">LOGOUT</a></li>
               </ul>
          </div>
     </div>
     <%} %>