<div class = 'social-media-float-container'>
    <a href="https://api.whatsapp.com/send?phone=541160281148&text=Hola%2C%20tengo%20una%20consulta.." class = 'instagram-a-container' target="_blank">
       <img src="/images/whatsappbtn.png" alt="">
    </a>  
 </div>