<footer>

    <div class="footer-first-box-container">
        <div class="footer-first-column-container">

            <div class="footer-title-container">
                <h4 class="footer-title"><strong class="footer-title">Quilmac</strong> Center</h4>
            </div>

            <div class="footer-icons-wrapper">

                <div class="footer-icon-container">
                    <span><i class='bx bx-phone'></i></span>
                    <p class="footer-copy-item">4254-1035 / 4253-9134 </p>
                </div>
                <div class="footer-icon-container">
                    <span><i class='bx bxl-whatsapp'></i></span>
                    <p class="footer-copy-item">11-6028-3333</p>
                </div>
                <div class="footer-icon-container">
                    <span><i class='bx bxs-been-here'></i></span>
                    <p class="footer-copy-item">Alem 152 -esq. Moreno-, Quilmes</p>
                </div>

            </div>
        </div>
        <div class="footer-second-column-container">
            <img src="/images/quilmac_local.jpg" class="quilmac-place" alt="">
        </div>
    </div>
  



    <div class="footer-gmaps-container">
        <iframe class="g-maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.280570376964!2d-58.25989008458839!3d-34.72332157134363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e6a80354efd%3A0x13c7adb169a5d9c7!2sAlem%20%26%20Moreno%2C%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1680631990037!5m2!1ses!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</footer>