<footer>

    <div class="footer-box title-container">
        <h4 class="footer-title"><strong class="footer-title">Quilmac</strong> Center</h4>
    </div>

    <div class="footer-columns-container">

        <div class="footer-box">
            <ul type=none>
        
                <div class="footer-li-arrow-container">
                    <span><i class='bx bx-phone'></i></span>
                    <li class="footer-copy-item" >4254-1035</li>
                </div>
                <div class="footer-li-arrow-container">
                    <span><i class='bx bx-phone'></i></span>
                    <li class="footer-copy-item" >4253-9134</li>
                </div>
                <div class="footer-li-arrow-container">
                    <span><i class='bx bxs-been-here'></i></span>
                    <li class="footer-copy-item" >Hipolito Yrigoyen 312</li>
                </div>
                
            </ul>
        </div>



        <div class="footer-box">
            <iframe class="g-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.46343684192!2d-58.26566938423387!3d-34.71871107109972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e13f5cdcbcd%3A0x9375ce89f3a4b490!2sAv.%20Hip%C3%B3lito%20Yrigoyen%20312%2C%20B1878%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1671482554547!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</footer>