<footer>
    <div class="footer-global-container">

        <div class="footer-first-column">
            <div class="footer-box title-container">
                <h4 class="footer-title"><strong class="footer-title">Quilmac</strong> Center</h4>
            </div>

            <div class="footer-box">
                <ul type=none>
                    <li><a href="#" class="footer-copy-item">Hipolito Yrigoyen 312</a></li>
                    <li><a href="#" class="footer-copy-item">Quilmes, Buenos Aires</a></li>
                    <li><a href="#" class="footer-copy-item">Argentina</a></li>
                    <li><a href="#" class="footer-copy-item">(11) 4254 1035</a></li>
                </ul>
            </div>

        </div>


        <div class="footer-second-column">
            <ul type=none>
                <li><a href="#" class="footer-copy-item">Nuestra Historia</a></li>
                <li><a href="#" class="footer-copy-item">Que servicios brindamos</a></li>
                <li><a href="#" class="footer-copy-item">Que vendemos</a></li>
                <li><a href="#" class="footer-copy-item">Contacto</a></li>
            </ul>
        </div>

    </div>
</footer>